.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: orangered;
}

.dialog {

}
.dialog a{
    text-decoration: none;
    color:  white;
}
.messages {
    padding: 10px;
}

.message {
}